@media (max-width:576px) {

/* shared styles */
p{
    font-size: 14px;
}
/* others styles */
    .menu li{
        display: none;
    }
    .menu p{
        font-size: 16px;
    }
    .banner-section{
        flex-direction: column-reverse;
    }
    .banner-text{
        width: 90%;
        margin: 10px auto;
    }
    .banner-text h1{
        font-size: 24px;
    }
    .banner-img{
        width:100%
    }
    .plant-items{
        grid-template-columns: 1fr 1fr ;
        gap: 10px;
        place-items: center;
    }
    .our-plants-section h1{
        font-size: 24px;
    }
    .plant-item{
        width: 170px;
    }
    .plant-item button{
        padding: 10px 20px;
    }
}